# In this example, any change inside the `/scripts` directory
# will require approval from @doctocat or @octocat.
#/scripts/ @doctocat @octocat
/apis/poi/ @rahuls3388

/apis/trips/ @sivadvvsrk

/apis/user-java/ @rahuls3388

/apis/userprofile/ @sivadvvsrk

/iac/ @vpaithankar @sivadvvsrk
